/* -- Global rules -- */
* {
  border: none;
  font-family: "JetBrainsMono Nerd Font";
  font-size: 12px;
  min-height: 0px;
}

window#waybar {
  background: rgba(24, 24, 24, 0.92);
}

window#waybar.hidden {
  opacity: 0.4;
}

/* -- General rules for visible modules -- */
#custom-archicon,
#clock,
#cpu,
#memory,
#disk,
#temperature,
#custom-custom1,
#custom-custom2,
#idle_inhibitor,
#battery,
#pulseaudio,
#pulseaudio-slider,
#network,
#custom-power,
#language,
#tray {
  color: #FFFFFF;
  margin: 1px;
  padding-left: 7px;
  padding-right: 7px;
  transition: none;
  border-radius: 4px;
}

/* -- Slider styling -- */
scale trough {
  min-height: 4px;
  background-color: #333333;
  border-radius: 5px;
}

scale slider {
  min-height: 8px;
  min-width: 8px;
  margin: -2px 0;
  background-color: #FFFFFF;
  border-radius: 50%;
  box-shadow: none;
}

/* -- Specific edge spacing -- */
#custom-archicon {
  margin-left: 1px;
}

#clock,
#temperature,
#custom-custom2,
#language {
  margin-right: 3px;
}

/* -- Modules left -- */
#custom-archicon {
  background-image: url('/home/ndoan/.config/waybar/Fedora_logo.svg.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  min-width: 16px;
  padding: 3px 2px;
  margin: 3px 2px;
}

#custom-custom1, 
#custom-custom2 {
  background: transparent;
}

/* -- Modules center -- */
#workspaces {
  background: rgba(0, 0, 0, 0.5);
  margin: 3px 3px;
  padding: 0 3px;
  border-radius: 3px;
}

#workspaces button {
  color: #242424;
  background: transparent;
  padding: 2px 3px;
  transition: color 0.3s ease, text-shadow 0.3s ease, transform 0.3s ease;
}

#workspaces button.occupied {
  color: #242424;
}

#workspaces button.active {
  color: #242424;
  text-shadow: 0 0 3px #242424;
}

/* -- Modules right -- */
#taskbar {
  background: transparent;
  padding: 0 3px;
  margin: 3px 3px;
  border-radius: 3px;
}

#taskbar button {
  padding: 0 3px;
  margin: 0 3px;
  transition: background 0.3s ease;
  border-radius: 3px;
}

#taskbar button.active, 
#taskbar button:hover {
  background: rgba(34, 36, 54, 0.5);
}

#idle_inhibitor {
  background: transparent;
  padding-right: 3px;
}

#battery {
  background: transparent;
}

#battery.warning {
  color: #FFCC00;
}

#battery.critical {
  color: #FF5555;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#pulseaudio {
  min-width: 37px;
  color: #FFFFFF;
  background: transparent;
}

#pulseaudio-slider {
  color: #1A1826;
  background: transparent;
  min-width: 150px;
}

#network {
  background: transparent;
  padding-right: 10px;
}

#language {
  background: transparent;
  padding-right: 15px;
}

#custom-power {
  background: transparent;
  color: #FFFFFF;
  margin-right: 1px;
}

#tray {
  background: transparent;
}

#tray > .passive {
  -gtk-icon-effect: dim;
}

#tray > .needs-attention {
  -gtk-icon-effect: highlight;
}

/* -- Animations -- */
@keyframes blink {
  from {
    background-color: #242424;
    color: #FF5555;
  }
  to {
    background-color: #FF5555;
    color: #FFFFFF;
  }
}